[submodule "lib-external/microCoAPy"]
	path = lib-external/microCoAPy
	url = https://github.com/insighiot/microCoAPy
[submodule "lib-external/senml-micropython-library"]
	path = lib-external/senml-micropython-library
	url = https://github.com/insighio/senml-micropython-library.git
[submodule "lib-external/microsdi12"]
	path = lib-external/microsdi12
	url = https://github.com/insighio/microSDI12.git
[submodule "lib-external/micropyGPS"]
	path = lib-external/micropyGPS
	url = https://github.com/inmcm/micropyGPS.git
[submodule "lib-external/hx711"]
	path = lib-external/hx711
	url = https://github.com/robert-hh/hx711.git
[submodule "lib-external/MicroWebCli"]
	path = lib-external/MicroWebCli
	url = https://github.com/jczic/MicroWebCli.git
[submodule "lib-external/astronode-micropython"]
	path = lib-external/astronode-micropython
	url = https://github.com/insighio/astronode-micropython.git
