pymakr.conf
insighioNode/apps/local_demos
webui/dist/*
webui/node_modules/*
webui/.vite/*
webui/.env
insighioNode/www/*
tests/__pycache__
insighioNode/apps/demo_console/__pycache__
insighioNode/www_files.txt