
body {
	background-color: #F2F2F2;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	letter-spacing: 2px;
	padding: 0 0px;
}
h1 {
	color: #D35F8D;
	text-align: center;
}
h2 {
	color: #5FA3D3;
	padding-left: 15px;
}
p, ul, li, td {
	color: black;
}
a:link {
	color: green;
	text-decoration: underline;
}
a:visited {
	color: gray;
}
a:hover {
	color: red;
	text-decoration: none;
}
a:active, a:focus {
	color: red;
}
.sep {
	margin: 15px 0;
	height: 3px;
	background-color: #5FA3D3;
}
.label {
	color: #D35F8D;
	font-weight: bold;
}

.body-custom{
	background-color: #F2F2F2;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 500px;
  opacity: 0.8;
}

.send-back {
	z-index:-1;
}

.panel-custom{
	background-color: #f7f7f7;
	width: 100%
}

.constr-field {
	min-width: 300px;
	width: 40%;
}

.center-image {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-100%, -100%);
}

.pointer {cursor: pointer;}

.tc {
    text-align: center;
		margin-top: 15px
}

.brand-logo{
	margin-top: 15px;
	margin-bottom: 15px;
}
/*
.container {
  width: 1000px;
  height: 700px;
  margin-top: 100px;
  position:relative;
}
#loginForm {
  width: 500px;
  height: 400px;
  position:relative;
  z-index:10;
}

#image{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
} */
